.open {
    position: fixed;
    height: 100vh;
    width: 20%;
    background-color: #5d2417;
    top: 0;
    right: 0;
    z-index: 1;
    animation: animateCarrinho forwards 1s ease;
    overflow-y: auto;
}

.nav {
    margin: 0;
    padding: 0;
}

.closeCarrinho {
    background-color: rgb(255, 51, 51);
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

@keyframes animateCarrinho {
    from {
        transform: translateX(100px);
    } to {
        transform: translateX(0px);
    }
}

.itemCarrinho {
    max-width: 90%;
    text-align: center;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 5px;
    font-family: "Elms Sans", sans-serif;
    background-color: wheat;
}

.btnMenu {
    border: none;
    border-radius: 50%;
    background-color: rgb(252, 150, 60);
    padding: 2px;
    width: 20px;
    cursor: pointer;
    margin-left: 2px;
}

.carrinhoVazio {
    display: flex;
    justify-content: center;
    margin-top: 50%;
    color: cornsilk;
    background-color: #5d2417;
    width: 80%;
    margin: 50% auto;
    border-radius: 5px;
    font-family: "Elms Sans", sans-serif;
}

.checkout {
    background-color: #8d4925;
    position: sticky;
    bottom: 1rem;
    width: 90%;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: .5s;
}

.checkout:hover {
    background-color: #8d3a27;
    font-size: 13pt;
}