.open {
    position: fixed;
    min-height: 100vh;
    width: 20%;
    background-color: #5d2417;
    top: 0;
    right: 0;
    z-index: 1;
    animation: animateCarrinho forwards 1s ease;
}

.nav {
    margin: 0;
    padding: 0;
}

.closeCarrinho {
    background-color: rgb(255, 51, 51);
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

@keyframes animateCarrinho {
    from {
        transform: translateX(100px);
    } to {
        transform: translateX(0px);
    }
}