.navbar {
    background-color: #8d4925;
    display: flex;
    justify-content: right;
    gap: 1.5rem;
    list-style: none;
    padding: 5vh;
}

.logo {
    position: absolute;
    left: 5%;
    display: flex;
    align-items: center;
    min-height: 13vh;
    background-color: #8d4925;
}

.logo img {
    background-color: #8d4925;
    height: 85px;
}

.navbar li {
    color: white;
    background-color: #5d2417;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
    font-family: "Elms Sans", sans-serif;
}

.navbar li:hover {
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 13pt;
}