.home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    color: #8d4925;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.descricao {
    width: 50%;
}

.descricaoHome {
    width: 80%;
    font-size: 14pt;
    margin-top: 1rem;
}

.btnVerMenu {
    padding: .5rem 2rem;
    border: none;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #8d4925;
    margin-left: 22%;
    margin-top: 2rem;
    font-size: 15pt;
    cursor: pointer;
    transition: 1s;
}

.btnVerMenu:hover {
    font-size: 16pt;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

a {
  color: white;
  text-decoration: none;
}

.imgCafe {
    margin-top: 10vh;
    border-radius: 5px;
}

.seta {
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 14px solid #5d2417;
  animation: animaSeta 2s linear infinite;
  margin-left: 33%;
  margin-top: .5rem;
}

@keyframes animaSeta {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    transform: translateY(12px);
    opacity: 0;
  }
}