.cardapio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-top: 1rem;
    animation: animaEntrada forwards 1.5s;
}

.cake {
    margin-top: 2rem;
    font-family: "Elms Sans", sans-serif;
    font-weight: bold;
    color: #c57d56;
}

.cake img {
    border-radius: 5px;
}

@keyframes animaEntrada {
    from {
        opacity: 0;
    }
}

.cardapio button {
    border: none;
    border-radius: 50%;
    padding: 5px;
    background-color: #ebaf8e;
    width: 1.5rem;
    cursor: pointer;
}

.qtdItem {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.qtdItem p {
    display: flex;
    align-items: center;
}